@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300,400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: auto;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

ul { 
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

ul > li > a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header-hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
    min-height: 250px;
    align-items: center;
    gap: 20px;
}

.hero-left {
    max-width: 50%;
}

.hero-img {
    flex: 1;
}

img {
    max-width:100%;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-scnd-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.sign-button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    font-weight: bold;
    border: none;
}

.info {
    display: flex;
    flex-direction: column;
    min-height: 320px;
    align-items: center;
    padding: 40px 200px;
}

.info-header-text {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 40px;
}

.info-2 {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.info-img {
    margin-bottom: 10px;
    border: 4px solid #3882F6;
    border-radius: 10px;
    width: 160px;
    height: 160px;
}

.info-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 260px;
    text-align: center;
    font-size: 18px;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 80px 200px;
    color: #1F2937;
    align-items: center;
}

.quote-text {
    font-size: 38px;
    font-style: italic;
    font-weight: 300;
}

.quote-author {
    font-size: 28px;
    font-weight: 800;
    align-self: flex-end;
}

.signup {
    display: flex;
    padding: 80px 200px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.inner-signup {
    display: flex;
    background-color: #3882F6;
    padding: 40px 80px;
    color: white;
    border-radius: 10px;
    gap: 80px;
}

.inner-signup-button button {
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 5px;
    padding: 8px 30px;
    font-weight: 800;
    color: white;
    font-size: 18px;
}

.inner-signup-text-title {
    font-weight: 700;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 40px 200px;
    color: white;
}